div#ficha,a.ui-btn.ui-btn-icon-right.ui-icon-carat-r,a.ui-link.ui-btn,button.ui-btn-hidden.ui-btn,a.ui-btn,#share .container_share .col-xs-6 a,a.ui-btn{
    background-color: rgb(105, 95, 95)!important;
    border-color: #D8CACA!important;
    text-shadow:none!important;
    color:white!important;
}

